.organize-stand-form {
	text-align: center;
}

.organize-stand-form .card {
	display: block;
	max-width: 19.5rem;
	margin-right: auto;
	margin-bottom: 6rem;
	margin-left: auto;
	border: 1px solid #c4d8dc;
	border-radius: 0.5rem;
}

.organize-stand-form .card .card-body {
	padding: 2.5rem 2.75rem 1.875rem 2.5rem;
}

.organize-stand-form .card .button-wrapper {
	position: absolute;
	right: 0;
	bottom: -1.5rem;
	left: 0;
	text-align: center;
}

.organize-stand-form .card .btn-solid-reg:hover {
	background-color: #fff;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.4rem 3rem;
	border: 0.125rem solid #00bfd8;
	border-radius: 2rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 1rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	outline: none;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #00bfd8;
	text-decoration: none;
}

.form-group {
	position: relative;
    margin-bottom: 1.5rem;
}

.form-control-input {
	display: block;
    text-align: center;
	width: 100%;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #979797;
	font: 500 1rem/1.875rem "Raleway", sans-serif;
	transition: all 0.2s;
}

.logo {
    font: 500 .75rem/1.4rem "Raleway", sans-serif;
    cursor: pointer;
}

.description {
    padding: 0rem 1rem;
    height: 10rem;
}

.help-block.with-errors{
	text-align: center;
	color: #626262;
	font-size: 0.75rem;
	line-height: 1.125rem;
}


/* responsive */
@media (min-width: 700px) {

	.organize-stand-form
 .card {
		display: inline-block;
		width: 25rem;
		max-width: 100%;
		margin-right: 1rem;
		margin-left: 1rem;
	}
}


@media (min-width: 1200px) {
	
	.organize-stand-form
 .card {
		width: 30rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}
}