/* general */
body, html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #626262;
	font: 400 0.875rem/1.375rem "Raleway", sans-serif;
}

.p-large {
	font: 400 1rem/1.5rem "Raleway", sans-serif;
}

.p-small {
	font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}

.p-heading {
	margin-bottom: 3.875rem;
}

.li-space-lg li {
	margin-bottom: 0.25rem;
}

.indent {
	padding-left: 1.25rem;
}

h1 {
	color: #393939;
	font: 700 3rem/3.5rem "Raleway", sans-serif;
}

h2 {
	color: #393939;
	font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}

h3 {
	color: #393939;
	font: 700 1.75rem/2rem "Raleway", sans-serif;
}

h4 {
	color: #393939;
	font: 700 1.375rem/1.875rem "Raleway", sans-serif;
}

h5 {
	color: #393939;
	font: 700 1.125rem/1.625rem "Raleway", sans-serif;
}

h6 {
	color: #393939;
	font: 700 1rem/1.5rem "Raleway", sans-serif;
}

a {
	color: #626262;
	text-decoration: underline;
}

a:hover {
	color: #626262;
	text-decoration: underline;
}

a.turquoise {
	color: #00bfd8;
}

a.white {
	color: #fff;
}

.turquoise {
	color: #00bfd8;
}


/* animation */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0);
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0);
	transform: translateY(0) perspective(37.5rem) rotateX(0);
}

.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
}

.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}


/* navbar */
.navbar-custom {
	background-color: #fff;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 600 0.875rem/0.875rem "Raleway", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 2.5rem;
	height: 2.5rem;
	border-radius: 45px;
}

.navbar-custom .navbar-brand.logo-text {
	font: 600 1.5rem/1.0rem "Raleway", sans-serif;
	color: #393939;
	text-decoration: none;
	margin-top: 0.75rem;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #393939;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #00bfd8;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #393939;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/* header */
.header {
	background-color: #fff;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
}

.header h1 {
	margin-bottom: 1.125rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}

.header .p-large {
	margin-bottom: 1.875rem;
}


/* info styles */
.cards-1 {
	padding-top: 4rem;
	padding-bottom: 1.625rem;
	text-align: center;
}

.cards-1 h2 {
	margin-bottom: 1rem;
}

.cards-1 .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	padding: 3.25rem 2rem 2rem 2rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.5rem;
	background: transparent;
}

.cards-1 .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}

.cards-1 .card-title {
	margin-bottom: 0.875rem;
}

.cards-1 .card-body {
	padding: 0;
}


/* footer */
.footer {
	padding-top: 4.625rem;
	padding-bottom: 0.5rem;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 1rem;
}

.copyright {
	padding-top: 1rem;
	padding-bottom: 0.375rem;
	text-align: center;
}

.copyright .p-small {
	padding-top: 1.375rem;
	border-top: 1px solid #c4d8dc;
	opacity: 0.7;
}

/* floatbutton */
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #00bfd8 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #00a7bd;
}


/* responsive page */
@media (min-width: 768px) {

	/* general */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}


	/* header */
	.header .header-content {
		padding-top: 10.5rem;
	}

	.header h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}


@media (min-width: 992px) {

	/* navbar */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
		box-shadow: none;
        background: transparent;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
		opacity: 0.8;
	}

	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		color: #fff;
		opacity: 1;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #fff;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link {
		color: #393939;
		opacity: 1;
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #00bfd8;
	}

	.navbar-custom .fa-stack {
		margin-bottom: 0.1875rem;
		margin-left: 0.25rem;
		font-size: 0.75rem;
	}

	.navbar-custom .fa-stack-2x {
		color: #00bfd8;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack-1x {
		color: #fff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #fff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #00bfd8;
	}

	.navbar-custom.top-nav-collapse .fa-stack-2x {
		color: #00bfd8;
	}

	.navbar-custom.top-nav-collapse .fa-stack-1x {
		color: #fff;
	}

	.navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-2x {
		color: #00a7bd;
	}

	.navbar-custom.top-nav-collapse .fa-stack:hover .fa-stack-1x {
		color: #fff;
	}


	/* general */
	.p-heading {
		width: 65%;
	}


	/* header */
	.header {
		background: url('../images/header-background.jpg') center center no-repeat;
		background-size: cover;
		min-height: 45rem;
	}
	
	.header .header-content {
		padding-top: 11.5rem;
		text-align: left;
	}

	.header .text-container {
		margin-top: 3rem;
		margin-bottom: 0;
	}


	/* info */
	.cards-1 .card {
		display: inline-block;
		max-width: 17.125rem;
		vertical-align: top;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
	}
}


@media (min-width: 1200px) {

	/* navbar */
	.navbar-custom {
		padding: 2.125rem 5rem 2.125rem 5rem;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 5rem 0.5rem 5rem;
	}


	/* general */
	.p-heading {
		width: 55%;
	}


	/* header */
	.header .header-content {
		padding-top: 12.5rem;
	}

	.header .text-container {
		margin-top: 5.375rem;
		margin-left: 1rem;
		margin-right: 2rem;
	}

	.header .image-container {
		margin-left: 2rem;
		margin-right: 1rem;
	}

	/* info */
	.cards-1 .card {
		max-width: 21rem;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	/* footer */
	.footer .footer-col {
		width: 90%;
	}

	.footer .footer-col.middle {
		margin-right: auto;
		margin-left: auto;
	}

	.footer .footer-col.last {
		margin-right: 0;
		margin-left: auto;
	}
}